.header__links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .header__links {
    margin: 14px 0 8px 0;
  }
}

@media screen and (max-width: 320px) {
  .header__links {
    margin: 14px 0 8px 0;
    padding: 0;
  }
}
