.footer__links {
  list-style: none;
  display: flex;
  gap: 18px;
  padding: 0;
  align-items: flex-start;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .footer__links {
    max-width: 100%;
    flex-direction: column;
  }
}
